<div>
    <button type="button" class="btn btn-info" (click)="verNuevo()" style="padding-right:35px">Ver/Crear Nuevo WS.</button>
    <button type="button" class="btn btn-light" (click)="verWS()" style="padding-right:35px">Ver mis WS.</button>
</div>
<br>

<div class="mapa" *ngIf="showMapa">
    <svg width='600px' height='600px' id="misvg">
    </svg>
</div>


<form class="forMapa" *ngIf="nuevoForm">
    <div class="form-group" style="background-color: beige" *ngIf="tablasUser.length==0">
        <label for="exampleFormControlSelect1">UST NO POSEE MAPAS ASIGNADOS AÜN!</label>
    </div>
    <div class="form-group" style="background-color: beige" *ngIf="tablasUser.length>0">
        <label for="exampleFormControlSelect1">Mapas a utilizar</label>
        <select class="form-control" id="mapa">
          <option *ngFor="let mp of tablasUser">{{mp.table_name}}</option>
        </select>
    </div>
    <div class="form-group" style="background-color: beige">
        <label for="exampleFormControlInput1">Color a utilizar</label>
        <input type="color" value='#c1c1c1' class="form-control" id="color">
    </div>
    <div class="form-group" style="background-color: beige">
        <label for="exampleFormControlInput1">Opacidad</label>
        <input type="range" value='50' min="0" max="100" class="form-control" id="opacity">
    </div>
    <div>
        <button type="button" class="btn btn-success btn-sm" (click)="generaMapa()">Mostrar mapa</button>
        <!-- <button *ngIf="btnSaveWS" type="button" class="btn btn-success btn-sm" (click)="limpiar()">Limpiar WS</button> -->
    </div>
    <br><br>
    <div *ngIf="btnSaveWS" style="padding-bottom:10px">
        <input type="text" placeholder="Nombew del WS a guardar!" class="form-control" id="name">
        <input type="date" value="" class="form-control" id="fecha">
        <button type="button" class="btn btn-success btn-sm" (click)="guardarWS()">Guardar WS</button>
    </div>
</form>